/* .rdp-day:hover {
  background-color: #295ba2;
  color: white;
  border-radius: 100%;
  transition: background-color 0.1s ease;
}

.rdp-day:focus {
  outline: 2px solid #295ba2;
  outline-offset: 2px;
}

.rdp-day_selected { 
    background-color: #295ba2; /* Tailwind: bg-blue-600 */
    /* color: white;
    border: 1px solid transparent;
} */ 
